<!DOCTYPE html>
<html>
  <head>
    <title>Flix Movies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag 'logo' %>
    </header>  
    <div class="conternt">
      <%= yield %>
    </div>
    <footer>
      <p> Copyright &copy; 2010-<%= Time.now.year %> <%=link_to 'DanyCode', 'https://danyweis.com', target: '_blank' %></p>
    </footer>
  </body>
</html>
